<ion-content [fullscreen]="true">
  <!-- <ion-header>
     <ion-toolbar>
       <ion-title>cadastro-cliente</ion-title>
     </ion-toolbar>
   </ion-header>-->
    <div class="header">
    <ion-buttons>
      <ion-button routerLink="/listagem-funcionario">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

    <div class="icone">
      <ion-icon class="logo" name="person-circle-outline"></ion-icon>
    </div>

   <form  [formGroup]="funcionarioForm" *ngIf="funcionarioForm" (ngSubmit)="submit()">
    
     <ion-item color="white">
       <ion-label position="floating" color="white">Nome</ion-label>
       <ion-input formControlName="nome" type="text"></ion-input>
     </ion-item>
     
       <ion-item color="white">
         <ion-label position="floating" color="white">E-mail</ion-label>
         <ion-input formControlName="email" type="text"></ion-input>
       </ion-item>
 
       <ion-item color="white">
        <ion-label position="floating" color="white">Telefone</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>

          
           <!--<ion-item>
               <ion-label position="floating">Perfil</ion-label>
               <ion-input formControlName="perfil" type="text"></ion-input>
             </ion-item>-->

             <ion-list>
              <ion-item color="white">
                <ion-select formControlName="perfil"  placeholder="Selecione um Perfil">
                  <ion-select-option value="0">SUPERVISOR</ion-select-option>
                  <ion-select-option value="1">SUPORTE</ion-select-option>
                  <ion-select-option value="2">TECNICO</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
 
               <ion-item color="white"> 
                 <ion-label position="floating" color="white" >Login</ion-label>
                 <ion-input formControlName="login" type="text"></ion-input>
               </ion-item>
               
               
               <ion-item color="white">
                <ion-label position="floating" color="white">Senha</ion-label>
                <ion-input formControlName="senha" type="text"></ion-input>
              </ion-item>
  
     <ion-button class="b1" shape="round" expand="block" 
                 padding type="submit" *ngIf="!modoDeEdicao">
     Cadastrar
     </ion-button>
 
     <ion-button  shape="round" expand="block" 
     padding type="submit" *ngIf="modoDeEdicao">
 Alterar
 </ion-button>
 
   </form>
 
 
 
 </ion-content>
 