

<ion-content [fullscreen]="true">

  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

    <div class="icone">
      <ion-icon class="logo" name="person-circle-outline"></ion-icon>
    </div>

  <form [formGroup]="atendimentoForm" *ngIf="atendimentoForm" (ngSubmit)="submit()">
    <ion-item color="white">
      <ion-label position="floating" color="white">Relato</ion-label>
      <ion-input formControlName="relatoTecnico" type="text"></ion-input>
    </ion-item>

    <ion-item color="white">
      <ion-label position="floating" color="white">Técnico</ion-label>
      <ion-select formControlName="funcionario" placeholder="Selecione...">
        <ion-select-option *ngFor="let funcionario of funcionarios" 
                            value="{{funcionario.id}}">{{funcionario.nome}}</ion-select-option>          
      </ion-select>
    </ion-item>

    <ion-item color="white">
      <ion-label position="floating" color="white">OS</ion-label>
      <ion-select formControlName="os" placeholder="Selecione...">
        <ion-select-option *ngFor="let ordemServico of ordemServicos" 
                            value="{{ordemServico.id}}">{{ordemServico.titulo}}</ion-select-option>          
      </ion-select>
    </ion-item>
    
    <ion-button class="b1" shape="round" expand="block" 
    padding type="submit">
Cadastrar
</ion-button>
   
</form>
</ion-content>
