

<ion-content [fullscreen]="true">
 
  <div class="header">
    <ion-buttons>
      <ion-button slot="start" class="menu_btn">
        <ion-menu-button color="black"></ion-menu-button>
      </ion-button>
    </ion-buttons>

    
  
    <ion-title>Atendimento</ion-title>
  
   
    </div>

  <ion-list>
    <ion-item button *ngFor="let tecnicoatendimento of tecnicoatendimentos">  
    <ion-label>
         <h2><span>Técnico:</span> {{tecnicoatendimento.atendimentos}}</h2>
        <p><span>OS:</span> {{tecnicoatendimento.id}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

<ion-button expand="block" >Voltar</ion-button>

</ion-content>
