header{
    padding-bottom: 50px;
    background-color: #8C1414;
}

ion-title{
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
}

span{
    color: #8C1414;
    font-weight: 700;
}