
.header{
    background-color: #8C1414;
    color:#fff;
     display: flex;
     justify-content: space-between;
     padding: 0.3rem 0.1rem;

    ion-button{
        height: 60px;
        width: 60px;

        ion-icon{
            font-size: 2ren;
        }
        ion-title{
            color: #fff;
        }
    }
}


ion-item{
    padding: 8px;
}

ion-icon{
    margin-right: 10px;
    color: #8C1414;
}

ion-item{
    color:#8C1414
}

p{
    font-weight: 550;
    color:black;
}

a{
    text-decoration: none;
    font-weight: 550;
    color:black;
}