
<ion-content [fullscreen]="true">

  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Listagem</ion-title>
  
   
    </div>
        
  
  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-cliente">Listar Cliente</a></p>
  </ion-item>
  
  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-funcionario">Listar Funcionario</a></p>
  </ion-item>
  
  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-os">Listar Ordem de Serviço</a></p>
  </ion-item>
  
  <!--
  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-atendimento">Listar Atendimento</a></p>
  </ion-item>
-->

  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-equipamento">Listar Equipamento</a></p>
  </ion-item>
  
   
 <!-- <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/cadastro-equipamento-item">Listar Itens</a></p>
  </ion-item>-->

  <ion-item>
    <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-comodato">Listar Comodatos</a></p>
  </ion-item>
  

</ion-content>
