ion-content{
    --background:#D97E7E;
    position:relative


    .header{
     display: flex;
     justify-content: space-between;
     padding: 1rem 0.5rem;

    ion-button{
        height: 60px;
        width: 60px;

        ion-icon{
            font-size: 2ren;
        }
    }
}

}

.card{
    height: 75%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;

    .img{
        position: absolute;
        top: -6.5rem;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    }
}