
<ion-content>
<div class="header">
<ion-buttons>
  <ion-button routerLink="/tabs/tab2">
    <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>

<!--
<ion-buttons>
  <ion-button>
    <ion-icon slot="icon-only" color="light" name="chatbubble-outline"></ion-icon>
  </ion-button>
</ion-buttons>-->

</div>

<div class="card">
  <div class="img">
    <ion-img src="./assets/sakuragi.png"></ion-img>
  </div>

  <h2>Sakuragi Hanamich</h2>

  <p>Função: </p>
  <p>Número de Atendimentos: </p>

  <ion-button expand="block" (click)="sair()" ><ion-icon name="arrow-back-circle-outline"></ion-icon> Desconectar-se</ion-button>

</div>

  
</ion-content>
