
<ion-content [fullscreen]="true">
  <form>
  <ion-toolbar>
    <ion-title>
      <h2>Perfil</h2>
    </ion-title>
  </ion-toolbar>

  <ion-icon name="person-circle-outline"></ion-icon>
</form>

<ion-item>
  <ion-toolbar>
    <ion-title>
      <p class="titulo-user">Meus Dados</p>
    </ion-title>
  </ion-toolbar>
  
</ion-item>

  <p class="atributos-user">Nome</p>
  <p class="atributos-user">E-mail</p>
  <p class="atributos-user">Função</p>
  <p class="atributos-user">Número de Chamados</p>
  


  <ion-button expand="block" (click)="voltarInicio()"><ion-icon class="icone-voltar" name="arrow-back-circle-outline"></ion-icon>Desconectar-se</ion-button>

</ion-content>
