

<ion-content [fullscreen]="true">

  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

    <div class="icone">
      <ion-icon class="logo" name="hardware-chip-outline"></ion-icon>
    </div>

  <form [formGroup]="equipamentoForm" *ngIf="equipamentoForm" (ngSubmit)="submit()">
    
    <ion-item color="white">
      <ion-label position="floating" color="white">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating" color="white">Descrição</ion-label>
      <ion-input formControlName="descricao" type="text"></ion-input>
    </ion-item>

    <ion-item color="white">
      <ion-label position="floating" color="white">Dispositivo</ion-label>
      <ion-input formControlName="dispositivo" type="text"></ion-input>
    </ion-item>

    <ion-item color="white">
      <ion-label position="floating" color="white">Marca</ion-label>
      <ion-input formControlName="marca" type="text"></ion-input>
    </ion-item>
   

    <ion-item color="white">
      <ion-label position="floating" color="white">Foto</ion-label>
      <ion-input formControlName="foto" type="text"></ion-input>
    </ion-item>

    <ion-item color="white">
      <ion-label position="floating" color="white">Quantidade</ion-label>
      <ion-input formControlName="quantidade" type="text"></ion-input>
    </ion-item>

    <ion-button class="b1" shape="round" expand="block" 
                padding type="submit" *ngIf="!modoDeEdicao">
      Cadastrar
      
    </ion-button>
    <ion-button shape="round" expand="block" 
                padding type="submit" *ngIf="modoDeEdicao">
      Alterar
    </ion-button>
  </form>
</ion-content>