.header{
    background-color: #8C1414;
    color:#fff;
     display: flex;
     justify-content: space-between;
     padding: 0.3rem 0.1rem;

    ion-button{
        height: 60px;
        width: 60px;

        ion-icon{
            font-size: 2ren;
        }
        ion-title{
            color: #fff;
        }
    }
}
