ion-header{
    background-color: #8C1414;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
ion-item{
    padding: 5px;
}

h2{
    font-size: 18px;
    color: black;
    font-weight: 700;
}

p{
    font-size: 15px;
    color: black;
}

strong{
    color: #8C1414;
}

