

<ion-content [fullscreen]="true">

  <div class="main_content_div">
    <!-- Botão de acesso ao menu -->

    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="black"></ion-menu-button>

    </ion-buttons>
  
    <!-- Info de Usuario logado -->
    <div class="user_div">
      <div class="first_div">
        <ion-label class="welcome">Bem Vindo</ion-label>
        <ion-label class="username">Sakuragi Kun</ion-label>
      </div>
      <div class="user_back" 
           [style.backgroundImage]="'url(/assets/logos.png)'">
      </div>
    </div>
   
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        
          <ion-icon name="bag-add-outline"></ion-icon>
          <a routerLink="/cartao-listagem-os">Ordens de serviço abertas</a>
      </ion-col>
      <ion-col>
        <ion-icon name="bag-check-outline"></ion-icon>
        <a routerLink="/cartao-os-fechada">Ordens de serviço fechadas</a>
      </ion-col>
      
    </ion-row>
    <ion-row>
    

      <ion-col>
        <ion-icon name="bar-chart-outline"></ion-icon>
        <a routerLink="/graficos">Dashboards Ordens de serviço</a>
    </ion-col>

    <ion-col>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <a routerLink="/tecnicos-atendimento">Técnicos em Atendimento</a>
    </ion-col>
   
    </ion-row>
  </ion-grid>

</ion-content>
