<ion-header [translucent]="true">
 
    <ion-title>
     
      <p>Olá, Mateus.</p>
    </ion-title>

</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        
          <ion-icon name="bag-add-outline"></ion-icon>
          <a routerLink="/cartao-listagem-os">Ordens de serviço abertas</a>
      </ion-col>
      <ion-col>
        <ion-icon name="bag-check-outline"></ion-icon>
        Ordens de serviço fechadas
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="bar-chart-outline"></ion-icon>
          Ordem de Serviço em Atendimento
      </ion-col>

      <ion-col>
        <ion-icon name="bar-chart-outline"></ion-icon>
        Dashboards Ordens de serviço
    </ion-col>
   
    </ion-row>
  </ion-grid>

</ion-content>
