
ion-header{
    background-color: #8C1414;
    color:white;
    height: 70px;
    display: flex;
    align-items: center;
}


p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


ion-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

ion-icon{
    border: #D97E7E  solid 1px;
    border-radius: 50%;
    padding: 15px;
    background-color:#D97E7E;
    color:#ffff;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}