

<ion-content [fullscreen]="true">
  <ion-header>
    
  </ion-header>
<ion-item>
  <ion-icon name="duplicate-outline"></ion-icon><p><a routerLink="/cadastro-os">Criar Ordem de Serviço</a></p>
</ion-item>

<ion-item>
  <ion-icon name="person-add-outline"></ion-icon><p><a routerLink="/cadastro-cliente/-1">Cadastrar Cliente</a></p>
</ion-item>

<ion-item>
  <ion-icon name="person-add"></ion-icon><p><a routerLink="/cadastro-funcionario/-1">Cadastrar Funcionario</a></p>
</ion-item>

<ion-item>
  <ion-icon name="construct-outline"></ion-icon><p>Listar Ordem Serviço</p>
</ion-item>

<ion-item>
  <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-cliente">Listar Cliente</a></p>
</ion-item>

<ion-item>
  <ion-icon name="list-outline"></ion-icon><p><a routerLink="/listagem-funcionario">Listar Funcionario</a></p>
</ion-item>
 
</ion-content>
