ion-header{
    margin-bottom: 50px;
}

ion-item{
    padding: 8px;
}

ion-icon{
    margin-right: 10px;
    color: #8C1414;
}

ion-item{
    color:#8C1414
}

p{
    font-weight: 550;
    color:black;
}

a{
    text-decoration: none;
    font-weight: 550;
    color:black;
}