

<ion-content [fullscreen]="true">
  <ion-header>
    
  </ion-header>
<ion-item>
  <ion-icon name="duplicate-outline"></ion-icon><p><a routerLink="/cadastro-os/-1">Criar Ordem de Serviço</a></p>
</ion-item>

<ion-item>
  <ion-icon name="person-add-outline"></ion-icon><p><a routerLink="/cadastro-cliente/-1">Cadastrar Cliente</a></p>
</ion-item>

<ion-item>
  <ion-icon name="construct-outline"></ion-icon><p><a routerLink="/cadastro-funcionario/-1">Cadastrar Funcionario</a></p>
</ion-item>

<ion-item>
  <ion-icon name="gift-outline"></ion-icon><p><a routerLink="/equipamento-crud/-1">Cadastrar Equipamento</a></p>
</ion-item>

<ion-item>
  <ion-icon name="receipt-outline"></ion-icon><p><a routerLink="/cadastro-comodato/-1">Gerar Comodato</a></p>
</ion-item>

<ion-item>
  <ion-icon name="newspaper-outline"></ion-icon><p><a routerLink="/listagem-all">Listagem</a></p>
</ion-item>

</ion-content>
