p{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
}

ion-item{
    display: flex;
    align-items: center;
    justify-content: center;
}


ion-icon{
    font-size: 80px;
}