:root {
	--ion-color-primary: #BD2020;
	--ion-color-primary-rgb: 189,32,32;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #a61c1c;
	--ion-color-primary-tint: #c43636;

	--ion-color-secondary: #8C1414;
	--ion-color-secondary-rgb: 140,20,20;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #7b1212;
	--ion-color-secondary-tint: #982c2c;

	--ion-color-tertiary: #D97E7E;
	--ion-color-tertiary-rgb: 217,126,126;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #bf6f6f;
	--ion-color-tertiary-tint: #dd8b8b;

	--ion-color-success: #F2F2F2;
	--ion-color-success-rgb: 242,242,242;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #d5d5d5;
	--ion-color-success-tint: #f3f3f3;

	--ion-color-warning: #0D0D0D;
	--ion-color-warning-rgb: 13,13,13;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #0b0b0b;
	--ion-color-warning-tint: #252525;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}