:root {
	--ion-color-primary: #BD2020;
	--ion-color-primary-rgb: 189,32,32;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #a61c1c;
	--ion-color-primary-tint: #c43636;

	--ion-color-secondary: #8C1414;
	--ion-color-secondary-rgb: 140,20,20;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #7b1212;
	--ion-color-secondary-tint: #982c2c;

	--ion-color-tertiary: #D97E7E;
	--ion-color-tertiary-rgb: 217,126,126;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #bf6f6f;
	--ion-color-tertiary-tint: #dd8b8b;

	--ion-color-success: #2a8929;
	--ion-color-success-rgb: 42,137,41;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #257924;
	--ion-color-success-tint: #3f953e;

	--ion-color-warning: #af5801;
	--ion-color-warning-rgb: 175,88,1;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #9a4d01;
	--ion-color-warning-tint: #b7691a;

	--ion-color-danger: #a51346;
	--ion-color-danger-rgb: 165,19,70;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #91113e;
	--ion-color-danger-tint: #ae2b59;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}