

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-buttons>
      <ion-button slot="start" class="menu_btn">
        <ion-menu-button color="black"></ion-menu-button>
      </ion-button>
    </ion-buttons>

    
  
    <ion-title>OS Fechadas</ion-title>
  
   
    </div>

  <ion-card button [ngClass]="{'status-alta': atendimentoosfechado.prioridade === 0, 'status-media': atendimentoosfechado.prioridade === 1, 'status-baixa': atendimentoosfechado.prioridade === 2}" *ngFor="let atendimentoosfechado of atendimentososfechados">
    <ion-card-header  routerLink="/cadastro-os/{{atendimentoosfechado.id}}">
      <ion-card-title>{{ atendimentoosfechado.titulo }}</ion-card-title>
       <ion-card-subtitle><b>Os :</b> {{ atendimentoosfechado.id }} </ion-card-subtitle>
      <ion-card-subtitle><b>Requerente :</b> {{ atendimentoosfechado.cliente }}</ion-card-subtitle>
      <ion-card-subtitle><b>Técnico :</b> {{ atendimentoosfechado.nome }}</ion-card-subtitle>
    </ion-card-header>
   
  </ion-card>

</ion-content>
