

<ion-content [fullscreen]="true">
 <!-- <ion-header>
    <ion-toolbar>
      <ion-title>cadastro-cliente</ion-title>
    </ion-toolbar>
  </ion-header>-->
  <ion-header></ion-header>

  <ion-item>
    <ion-label position="floating">Seu nome</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Seu e-mail</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Seu telefone</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Sua rua</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Seu bairro</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Seu número</ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-button expand="block">Cadastrar</ion-button>
  <ion-button expand="block" fill="outline" (click)="voltar()">Voltar</ion-button>
</ion-content>
