<ion-content>

  <div class="header">
    <ion-buttons>
      <ion-button slot="start" class="menu_btn">
        <ion-menu-button color="black"></ion-menu-button>
      </ion-button>
    </ion-buttons>

    
  
    <ion-title>Gráficos</ion-title>
  
   
    </div>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <div>
    <p>Número de Chamados</p>
    <canvas #meuCanvas></canvas>

  </div>

  <div>
    <p>Tempo de realização de chamado</p>
    <canvas #meuCanvas2></canvas>

  </div>

  <div>
    <p>Categorias mais solicitadas</p>
    <canvas #meuCanvas3></canvas>

  </div>
</div>
</ion-content>