ion-content{
   --background: #8C1414;

    h2{
        color: #FFF;
        text-align: center;
    }

    ion-list{
        background-color:#8C1414;

    ion-card{
        background-color:#faf5f5;
        color: #242222;

        ion-card-title{
            color:#242222;
        }

        span{
            color: #8C1414;
            font-weight: 720;
        }

        ion-card-subtitle{
            color:#242222;
        }
    }
}
}
