

<ion-content [fullscreen]="true">
 
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/listagem-os">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    </div>

  <ion-list>
    <ion-item-sliding button *ngFor="let atendimento of atendimentos" > 

      <h2>Produto {{atendimento.id}}</h2>
   
    <ion-card>
      <ion-card-header>
        <ion-card-title><span>Titulo:</span> {{atendimento.os.titulo}}</ion-card-title>
        <ion-card-subtitle><span>Data Abertura:</span> {{atendimento.os.dataAbertura}}</ion-card-subtitle>
        <ion-card-subtitle><span>Data Fechamento:</span> {{atendimento.os.dataFechamento}}</ion-card-subtitle>
        <ion-card-subtitle><span>Categoria:</span> {{atendimento.os.tipoServico}}</ion-card-subtitle>
        <ion-card-subtitle><span>Prioridade:</span> {{atendimento.os.prioridade}}</ion-card-subtitle>
        <ion-card-subtitle><span>Status:</span> {{atendimento.os.status}}</ion-card-subtitle>
        <ion-card-subtitle><span>Cliente:</span> {{atendimento.os.cliente.nome}}</ion-card-subtitle>
        <ion-card-subtitle><span>Técnico:</span> {{atendimento.funcionario.nome}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      <span>{{atendimento.relatoTecnico}}</span>
      </ion-card-content>

      <ion-button fill="clear" routerLink="/cadastro-atendimento/{{atendimento.id}}">Adicionar Solução</ion-button>

    </ion-card>

    <ion-item-options side="end">
      <ion-item-option routerLink="/cadastro-atendimento/{{atendimento.id}}">
     
        <ion-icon slot="start" name="create"></ion-icon>
        Editar
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="start" name="trash"></ion-icon>
        Deletar
      </ion-item-option>
    </ion-item-options>


</ion-item-sliding>
  </ion-list>

</ion-content>

