


.header{
    background-color: #8C1414;
    color:#fff;
     display: flex;
     justify-content: space-between;
     padding: 0.3rem 0.1rem;

    ion-button{
        height: 60px;
        width: 60px;

        ion-icon{
            font-size: 2ren;
        }
        ion-title{
            color: #fff;
        }
    }
}




ion-item{
    padding: 5px;
}

h2{
    font-size: 18px;
    color: black;
    font-weight: 700;
}

p{
    font-size: 15px;
    color: black;
}

strong{
    color: #8C1414;
}

.titulo{
    background-color: #ccc;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 15px;
}
