
<ion-content [fullscreen]="true">
  <ion-header></ion-header>
  <form [formGroup]="comodatoForm" *ngIf="comodatoForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Data Instalacao</ion-label>
      <ion-input formControlName="dataInstalacao" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Ordem de Servico</ion-label>
      <ion-select formControlName="os" placeholder="Selecione...">
        <ion-select-option *ngFor="let os of ordemServicos" 
                            value="{{os.id}}">{{os.titulo}}</ion-select-option>          
      </ion-select>
    </ion-item>

    <ion-button shape="round" expand="block" 
    padding type="submit" *ngIf="!modoDeEdicao">
Cadastrar
</ion-button>

<ion-button shape="round" expand="block" 
padding type="submit" *ngIf="modoDeEdicao">
Alterar
</ion-button>
</form>
</ion-content>
